@{
    ViewData["Title"] = "Team";
}
<!--<< Breadcrumb Section Start >>-->
            <div class="breadcrumb-wrapper section-padding bg-cover" style="background-image: url('/assets/img/breadcrumb.jpg');">
                <div class="container">
                    <div class="page-heading">
                        <h1 class="wow fadeInUp" data-wow-delay=".3s">team page</h1>
                        <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
                            <li>
                                <a href='@Url.Action("Index", "Home")'>
                                Home Page
                                </a>
                            </li>
                            <li>
                                <i class="fal fa-minus"></i>
                            </li>
                            <li>
                                team
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    
            <!--<< Team Section Start >>-->
            <section class="team-section team-section-uniform section-padding">
                <div class="container">
                    <div class="row g-4 align-items-stretch justify-content-center">
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                            <div class="single-team-items mt-0">
                                <div class="team-image">
                                    <img src="/assets/img/team/shahid-aslam.png" alt="Shahid Aslam">
                                    <div class="social-profile">
                                        <span class="plus-btn"><i class="fas fa-share-alt"></i></span>
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-content text-center box-shadow">
                                    <h5>
                                        <a href='@Url.Action("TeamDetails", "Home")'>Shahid Aslam</a>
                                    </h5>
                                    <p>CEO and Senior Consultant &ndash; UK &amp; Schengen</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                            <div class="single-team-items mt-0">
                                <div class="team-image">
                                    <img src="/assets/img/team/waqaz-zafeer-abbasi.png" alt="Waqaz Zafeer Abbasi">
                                    <div class="social-profile">
                                        <span class="plus-btn"><i class="fas fa-share-alt"></i></span>
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-content text-center box-shadow">
                                    <h5>
                                        <a href='@Url.Action("TeamDetails", "Home")'>Waqaz Zafeer Abbasi</a>
                                    </h5>
                                    <p>Senior Consultant &ndash; USA &amp; Canada</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                            <div class="single-team-items mt-0">
                                <div class="team-image">
                                    <img src="/assets/img/team/nafia-hafeez.png" alt="Nadia Hafeez">
                                    <div class="social-profile">
                                        <span class="plus-btn"><i class="fas fa-share-alt"></i></span>
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-content text-center box-shadow">
                                    <h5>
                                        <a href='@Url.Action("TeamDetails", "Home")'>Nadia Hafeez</a>
                                    </h5>
                                    <p>Practise Manager &amp; Junior Consultant &ndash; UK</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
            

